<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Test.TestDropDown"/>
      <class name="com.Test.TestAddRemoveElements"/>
      <class name="com.Test.TestCheckBoxes"/>
      <class name="com.Test.TestShiftingContent"/>
      <class name="com.Test.TestSecureFileDownload"/>
      <class name="com.Test.TestDynamicContent"/>
      <class name="com.Test.TestBasicAuth"/>
      <class name="com.Test.TestContextMenu"/>
      <class name="com.Test.TestEntryAd"/>
      <class name="com.Test.TestABTesting"/>
      <class name="com.Test.TestDragAndDrop"/>
      <class name="com.Test.TestNotificationMesssages"/>
      <class name="com.Test.TestDissappearingElements"/>
      <class name="com.Test.TestNestedFrames"/>
      <class name="com.Test.TestBrokenImages"/>
      <class name="com.Test.TestHomePage"/>
      <class name="com.Test.TestDynamicControls"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
